#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
form{
    margin: auto;
    width: 80%;
}

input.form-control{
    border-radius: 0;
}

button.send-button{
    border: none;
    background-image: var(--color-gradient-secondary);
    border-radius: 10px;
    background-size: 200%;
    animation: gradient-animation 5s infinite alternate;
    padding: 10px 50px;
}
button.send-button:hover{
    font-weight: bold;
    box-shadow: 0px 4.42px 107px rgba(255, 86, 246, 0.5);
}