.footer{
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
}
.icon-wrapper{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-wrapper img{
    height: 34px;
    filter: grayscale(100%) saturate(100);
}
.icon-wrapper img:hover{
    filter: grayscale(0);

}

@media screen and (max-width: 992px) {
    .socialMedia-section {
        justify-content: center;
    
    }
}

