nav{
    position:fixed;
    top: 0;
    font-family: 'Roboto', sans-serif;
}


a.navbar-brand{
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 3px;
    font-size: 42px;
    font-weight: bold;
}
.nav-link{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}
a.nav-link:hover::after, .active::after{
    content: '';
    display: block;
    width: 60%;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--color-acent);
    margin: auto;
    margin-bottom: -8px;
}


.navbar-scroll{
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0 , 0, 0, .3);

}
.navbar-scroll > a{
    color: black;
}



@media  screen and (max-width: 992px) {
    nav{
        background-color: white;
    }
    a.navbar-brand, a.nav-link{
        color: black;
    }
    span.navbar-toggler-icon{
        background-image: url('../assets/gear.svg')
    }
    a.nav-link:hover::after, .active::after{
        margin-left: 0;
        width: 10%;
    }
    a.nav-link.active{
        color: black !important;
    }
}