#project{
    font-family: 'Roboto', sans-serif;
    background-color: #b8c1ec;
    scroll-margin-top: 6rem;
}
.link-project{
    cursor: pointer;
    list-style-type: none;
    text-transform: capitalize;
}
.link-project {
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    color: var(--color-text-primary);
    font-weight: 300;
}
.link-project:hover, .actives{
    color: var(--color-primary);
    background-color: white;
}
.card-wrapper {
    height: 400px;
}

.image-project{
    height: 200px;
    width: 100%;
    transition: .2s ease-in;
}
.image-project:hover{
    filter: brightness(50%);
}
.project-title{
    font-size: 24px;
    text-decoration: none;
    color: #0d0d0d;
    font-family: 'PLayfair Display', sans-serif;
    font-weight: 600;
}
.project-title:hover{
    color: #efefef;
}


.project-description{
    text-align: justify;
}


@media screen and (max-width: 576px){
    .link-wrapper ul{
        gap: 3px;
        text-align: center;
    }

    .card-wrapper {
        height: auto;
    }
}

@media screen and (max-width: 992px){
    .project-container{
        gap: 2rem;
    }
}

