#skills{
    background-color: var(--color-secondary);
}
.skill-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    gap: 20px;
}

.skill-image{
    height: 80px;
}