@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Roboto:wght@500&family=Solitreo&display=swap');

:root{
    --color-primary: #2a114b;
    --color-secondary: #b8c1ec;
    --color-acent: #B809C3;
    --color-text-primary: #0d0d0d;
    --color-gradient-primary: linear-gradient(90deg, rgba(177,34,195,1) 32%, rgba(45,70,253,1) 100%);
    --color-gradient-secondary: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%)
    
}

body{
    scroll-behavior: smooth;
}

.title-content{
    font-family: 'Playfair Display', sans-serif;
}



@keyframes gradient-animation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}